flows.json
[{"id":"fcc537551311e7eb","type":"subflow","name":"NBR","info":"","category":"","in":[{"x":260,"y":80,"wires":[{"id":"d2cbde12dafc4d61"}]}],"out":[{"x":600,"y":80,"wires":[{"id":"d2cbde12dafc4d61","port":0}]}],"env":[],"meta":{"module":"node-red-contrib-nbr","type":"nbr","version":"0.0.1","author":"Denis Nobre <denis@denisnobre.com>","desc":"Teste","license":"Apache-2.0"},"color":"#DDAA99"},{"id":"d2cbde12dafc4d61","type":"function","z":"fcc537551311e7eb","name":"","func":"\nmsg.payload = 10\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[]]},{"id":"6f034f1f2e842f4a","type":"subflow:fcc537551311e7eb","z":"e7d5161e91f7d38c","name":"","env":[],"x":430,"y":260,"wires":[[]]}]